<%= render "layouts/nav" %>
<div><h1> Todays Stories</h1></div>
<section>
  <% @new_content.each do |article| %>
  <div id="card">
    <img src=<%=article[:urlToImage]%>>
    <div>Title: <br>"<%= article[:title] %>"</div>
  </div>
  <% end %>
</section>
