<nav>
  <div class="title">
    <h1> In Context</h1>
  </div>
    <div class="search-box">
      <input type="string" id="search-input"></input>
      <button id="search-button">Search</button>
      <button class="projects-link"> <%=link_to "My Projects", {class: "linkto"}%></button>
    </div>
</nav>
